vendor/*
app/var/cache/*
app/var/log/*
!app/var/cache/.gitkeep
!app/var/log/.gitkeep
.idea/*
docker-compose.override.yml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
