{% extends "base.html.twig" %}

{% block body %}
    <p>URI: {{  uri }}</p>
    <script>
        $(document).ready(function (){
            console.log("JQuery is enabled");
        })
    </script>
{% endblock %}